<main class="container">
    <div class="hero">
      <img src="https://media.discordapp.net/attachments/1109548283682641920/1110656442661662750/image.png" alt="Ilustração de uma pessoa com um cachorro">
      <div>
        <h2>Procurando um novo amigo?</h2>
        <p>A Quatro Patas pode ajudar nessa missão! Doguinhos e Gatinhos estão esperando para fazer você feliz! Adote agora mesmo.</p>
        <div class="buttons">
          <button class="button" routerLink="/adote">Adote agora</button>
          <button class="button">Nossas Regras</button>
        </div>
      </div>
    </div>
  </main>
  