$background-color-body: #f0f0f5;
$background-color-container: #fff;
$border-radius: 10px;
$box-shadow-container: 0 2px 5px rgba(0, 0, 0, 0.1);
$text-color-primary: #333;
$text-color-secondary: #555;
$font-family-title: "Amatic SC", sans-serif;
$title-font-size: 99px;
$title-line-height: 125px;
$title-margin-bottom: 5%;
$img-size: 30%;
$gap-size: 50px;
$container-padding-top: 2%;
$font-size-list: 16px;
$pawprint-size: 30px;
$list-marker-img: url("../../../assets/patinhas.svg");

@mixin container-styles {
  background-color: $background-color-container;
  border-radius: $border-radius;
  padding: 30px;
  box-shadow: $box-shadow-container;
  text-align: center;
}

@mixin title-styles($font-size, $line-height, $margin-bottom) {
  font-size: $font-size;
  font-weight: 700;
  line-height: $line-height;
  text-align: left;
  margin-bottom: $margin-bottom;
  font-family: $font-family-title;
}

.container {
  @include container-styles;
}

.adopt-container {
  .adopt {
    display: flex;
    gap: $gap-size;
    justify-content: space-between;
    padding-top: $container-padding-top;

    .adopt-title {
      text-align: center;
      margin-left: 5%;

      .adote-agora {
        @include title-styles(
          $title-font-size,
          $title-line-height,
          $title-margin-bottom
        );
      }

      p {
        line-height: 1.6;
        color: $text-color-secondary;
      }

      ul {
        padding-left: 20px;
        list-style-type: none;

        li {
          margin-bottom: 10px;
          font-family: Arial, sans-serif;
          font-size: $font-size-list;
          position: relative;

          &::before {
            content: "";
            display: inline-block;
            width: $pawprint-size;
            height: $pawprint-size;
            background-image: $list-marker-img;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 10px;
          }
        }
      }
    }

    .img-adote {
      width: $img-size;
      height: $img-size;
    }
  }
}
