<footer>
  <div class="informacoes">
    <div class="logo">
      <img src="../../assets/Logo.png" alt="Quatro Patas Logo" />
    </div>
    <div>
      <p class="endereco">
        Quatro Patas Adoção de Animais Rua das Oliveiras, 158 | Nova Floresta -
        São Paulo, SP 13999-008 (021) 9921-8282 ou (019) 9923-5050
      </p>
    </div>
  </div>
  <div class="copyright">
    <p>© 2024 Quatro Patas. Todos os direitos reservados.</p>
    <p class="aviso-violencia">
      Violência contra animais é crime. Denuncie 0800 600 6428
    </p>
  </div>
</footer>
