footer {
  bottom: 0;
}

.copyright {
  width: 100%;
  height: 25%;
  top: 270px;
  gap: 0px;
  opacity: 0px;
  background-color: #6c3659;
  display: flex;
  color: #fff;
  padding: 1% 1% 1% 0;
  gap: 10%;
  justify-content: center;
}

.aviso-violencia {
  font-weight: 800;
}

.informacoes {
  background-color: #f8d964;
  padding: 5% 10% 5% 10%;
  text-align: center;
  width: 100%;
  height: 40%;
  display: flex;
}

.endereco {
  font-family: Nunito;
  font-size: 18px;
  width: 40%;
  display: block;
  float: right;
}
