@import "globals";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-global;
}

body {
  background-color: $background-color-body;
  color: $text-color-primary;
}

.cdk-overlay-pane.my-dialog {
  position: relative !important;
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

header {
  background-color: #f8d964;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: $text-color-primary;
  font-weight: bold;
}

main {
  padding: 40px 20px;
  text-align: center;
}

.adopt-section {
  h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

html,
body {
  height: 100%;
}
