<div class="adopt-container">
  <div class="adopt">
    <div class="adopt-title">
      <h4 class="adote-agora">Procurando um novo amigo?</h4>
      <p>
        A Quatro Patas pode ajudar nessa missão! Doguinhos e Gatinhos estão
        esperando para fazer você feliz! Adote agora mesmo.
      </p>
      <div class="buttons">
        <button class="button button1" routerLink="/adote">Adote agora</button>
        <button class="button button2" routerLink="/nossas-regras">
          Nossas Regras
        </button>
      </div>
    </div>
    <img
      class="img-adote"
      src="../../assets/HomeDog.png"
      alt="Girl with glasses and dog"
    />
  </div>
</div>
